n8n_workflow.json
{
  "name": "Assignment 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        256
      ],
      "id": "9aca312a-6665-4864-96d8-fe8e88319711",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://arxiv.org/pdf/1706.03762.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        256
      ],
      "id": "54778afe-7fca-4f04-9ce5-89bef1aace5b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -688,
        256
      ],
      "id": "e2762763-1e91-421a-95de-b4d3892a16b3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "={{ $json.text }}",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -480,
        256
      ],
      "id": "4bf53172-0754-4a61-966b-f23a39856c74",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pvRtWoG2A4IyAHrw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -464,
        448
      ],
      "id": "ce3b4b14-2ead-48b2-a17e-3ab2435e3dc0",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "rVpLa9InzpXSEFvo",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -320,
        416
      ],
      "id": "91898c56-31f8-4199-aa4d-cac242a26257",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Disha. How can I assist you today?",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        256
      ],
      "id": "6aa58edf-1796-4a25-9d21-7726f5d6a099",
      "name": "When chat message received",
      "webhookId": "d9e0de3d-727a-4a2f-b691-7dd0bee27404"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        256
      ],
      "id": "754e01c3-a54b-46ae-a03b-bcbfacd734c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        464
      ],
      "id": "c86bb1c0-49ba-4b48-95a6-ac8efe5d7122",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "u5tTAxgUPSj7BEOj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        464
      ],
      "id": "c2b7e3fb-35dc-492a-8b4d-bd209b800304",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Take the output from groq model and deliver  the output to the chat",
        "tableName": {
          "__rl": true,
          "value": "={{ $json.chatInput }}",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        464
      ],
      "id": "52db14cd-1593-4175-bc40-8f4748e2a264",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "pvRtWoG2A4IyAHrw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        608,
        592
      ],
      "id": "59ecbf93-eea4-4aa0-a0f2-6e56cb689b8a",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "rVpLa9InzpXSEFvo",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72dc7ab8-c5b6-4f7d-9f10-d0ef38625cfd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ade04136d474b8fabb7e777f91cc0f47017188e2e0226739db486dd03dab322"
  },
  "id": "vcLPUi8xGlkmOhNM",
  "tags": []
}